@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
	font-weight: 300;
}

#container {
	position: absolute;
	height: auto;
	top: 15%;
	right: 20%;
	border-radius: 5px;
}
.button {
    cursor: pointer;
    display: flex;
    flex-direction: row !important;
    gap: 10px;
}
.title {
    cursor: default;
    gap: 10px;
    display: flex;
    flex-direction: row !important;
}

#buttons {
	max-height: 80vh;
	width: 25vw;
	overflow-x: none;
	overflow-y: auto;
	padding: 10px;
}

html, body { background: transparent !important; }

#buttons::-webkit-scrollbar { display: none; }

body::-webkit-scrollbar { display: none; }

.button {
	width: auto;
	max-width: 45%;
	height: 10%;
	background-color: rgba(23, 23, 23, 85%);
	color: grey;
	margin: auto;
	position: relative;
	top: 10%;
	margin-top: 0.2rem;
	overflow: hidden;
	padding: 0.35rem;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
	cursor: pointer;
	border-left: 8px solid rgba(23, 23, 23, 1%);
	transition-property: color, background-color;
	transition-duration: 0.1s, 0.3s;
	transition-timing-function: linear, ease-in;
}


.button:hover {
	border-left: 8px solid #dc143c;
	background: rgba(0, 0, 0);
	color: white;
}

.icon {
	transition-property: all;
	transition-duration: 0.1s, 0.3s;
	transition-timing-function: linear, ease-in;
    display: inline-flex;
    align-items: center;
    position: static;
    justify-content: left;
	opacity: 0.5;
}

.button:hover > .icon {
	opacity: 1.0;
	animation: bounce 2s linear;
}

.bounce {
	animation-name: bounce-4;
	animation-timing-function: ease;
}

@keyframes bounce {
	0%   { transform: scale(1,1); }
	10%  { transform: scale(1.1); }
	30%  { transform: scale(1.5); }
	50%  { transform: scale(1.5); }
	100% { transform: scale(1.5); }
}

.title {
	font-family: "Poppins", sans-serif !important;
	width: auto;
	max-width: 45%;
	height: 10%;
	background: rgba(23, 23, 23);
	border-left: 8px solid rgba(23, 23, 23, 1%);
	color: white;
	margin: auto;
	position: relative;
	top: 10%;
	margin-top: 0.2rem;
	overflow: hidden;
	padding: 0.35rem;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
}

.title > div.header {
	font-family: "Poppins", sans-serif !important;
    text-decoration: underline !important;
}

.disabled {
    background: #878789 !important;
    cursor: default;
}

div > .text {
	font-family: "Poppins", sans-serif !important;
	flex-direction: column;
	font-size: 0.65rem;
	overflow: hidden;
}
div > .header {
	font-family: "Poppins", sans-serif !important;
	width: 100%;
	max-width: 100%;
	display: flex;
	align-items: center;
	position: relative;
	justify-content: left;
	overflow: wrap;
	color: white;
	font-size: 0.85rem;
	font-weight: 400;
	overflow: hidden;
}